<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diretivas: v-for</title>
</head>
<body>
  <div id="directives">
    <h2>Cidades</h2>
    <ol>
      <!-- <li v-for="city in cities">{{city}}</li> -> percorrendo array -->
      <li v-for="item in cities">{{item.city}} - {{item.country}}</li> <!--percorrendo array de objetos-->
    </ol>

    <h2>Filmes</h2>
    <ul>
      <li v-for="(picture, index) in movies">{{index}}. {{picture}}</li>
    </ul>

    <h2>Empresa</h2>
    <!-- buscando nome e valor da propriedade -->
    <p v-for="(value, key, index) in company">{{key}}: {{value}}</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>


  <script>
    let app = new Vue({
      el: '#directives', // el significa qual elemento que vai ser iniciado
      data: {
        // cities: ['Nova York', 'Londres', 'Rio de Janeiro', 'São Paulo'] -> array
        cities: [
          {city: 'Nova York', country: 'EUA'},
          {city: 'Londres', country: 'Inglaterra'},
          {city: 'Rio de Janeiro', country: 'Brasil'},
          {city: 'São Paulo', country: 'Brasil'},
        ],
        movies: ['Star Wars', 'Jurassic Park', 'De volta para o Futuro'],
        company: {
          name: 'Facebook',
          year: 2004,
          creator: 'Mark',
        }
      },
    })
    </script>
</body>
</html>